{% extends "plantillas.html" %}
{% load static %}
{% block body %}

<br>
<h1 class="text-center">Listado de Paisajes</h1>
<hr>
<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Fecha de Creacion</th>
            <th>Duracion</th>
            <th>Descripcion</th>
            <th>Artista</th>
            <th>Espacio</th>
        </tr>
    </thead>
    <tbody>
        {% for paisaje in paisajesonoro %}
        <tr>
            <td>{{ paisaje.titulo }}</td>
            <td>{{ paisaje.fecha_creacion }}</td>
            <td>{{ paisaje.duracion }}</td>
            <td>{{ paisaje.descripcion }}</td>
            <td>{{ paisaje.artista.nombre }}</td>
            <td>{{ paisaje.espacio.nombre }}</td>
            <td><a  href="{% url 'editarPaisajeSonoro' paisaje.id %}">Editar <i class="fa fa-pen"></i></a>
                <a style="color: red;" href="">Eliminar <i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-center ">
    <a href="{% url 'nuevoPaisaje' %}" class="btn btn-primary " >
        Agregar Paisaje Sonoro
    </a>
</div>
<br>
<br>



{% endblock %}